/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background: #f3e0e2;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
}

.user-info {
}

.dropdownmenu {
    position: fixed;
    top: 0;
    background: #ff4b2b;
    display: flex;
    flex-direction: column;
    height: 110px;
    width: 100%;
    z-index: 9;
}

.search-box {
    margin: 0 auto; /* Center the search box horizontally */
}

.search-box input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    width: 1000px;
}

.search-btn{
    border-radius: 5px;
    border: none;
    outline: none;
    height: 40px;
    width: 55px;
    background: #ff4b2b;
    position: relative;
    left: -65px;
}

.navigation{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding-left: 80px;
}

.logo::before{
    content: "SHOP";
    color: blue;
}

.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-items li {
    margin-left: 20px;
    position: relative;
}

.dropdownmenu .menu-items li a {
    font-size: 14px;
    font-weight: bold;
}

.menu-items a {
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    transition: all .25s ease;
}

.dropdownmenu li:hover a {
    color: red;
}

#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

#submenu li {
    width: 100%;
}

#submenu a:hover {
    background: #DF4B05;
}

#submenu a {
    background-color: #000000;
}

.register-login {
    padding-right: 30px;
}

.register-login a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.register-login a:hover {
    color: red; /* Change color on hover */
}

.register-login a + a {
    margin-left: 5px; /* Adjust spacing between register and login links */
}

.customer-page {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    display: block;
}

.dropdown-content>a:hover{
    background-color: #ff816a;
}

.customer-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-right: 20px;
}

.customer-page:hover .dropdown-content{
    display: block;
    z-index: 1000;
}

.customer-btn{
    color: white;
}

.logout {
    display: inline;
}

.car-status {
    font-size: 18px;
    font-family: 'georgia';
    font-weight: bold;
    text-align: center;
    padding: 250px 100px 200px 100px;

}

.content {
    background-color: #f8f8f8;
    padding: 8px;
    border-radius: 3px;
    max-width: 320px;
    margin: 0 auto;
}

.content h2 {
    color: #333;
    font-size: 14px; /* Further reduced heading font size */
    margin-bottom: 8px; /* Further reduced margin below heading */
}

.content form {
    margin-top: 8px; /* Further reduced margin above form */
}

.content label {
    font-size: 11px; /* Further reduced label font size */
    color: #555;
}

.custom-wrapper { 
    margin: 0 auto 20px; /* Center the wrapper horizontally and add bottom margin */
    width: calc(100% - 16px); /* Adjusted width to fit within the content area */
    padding: 10px; /* Padding for the wrapper */
    border-radius: 6px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.header h2 { 
    font-size: 18px;
    color: #FF4B2B;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.price-input-container { 
    width: 100%; /* Full width */
    margin-top: 10px; /* Top margin for the input container */
}

.price-input .price-field { 
    display: flex; 
    margin-bottom: 10px;
} 

.price-field span { 
    margin-right: 10px; 
    font-size: 14px;
    color: #555;
} 

.price-field input { 
    flex: 1; 
    height: 30px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box;
}

.price-slider { 
    height: 6px;
    background: #FF4B2B;
    border-radius: 3px;
}

.slider-container { 
    margin-top: 10px;
}

.price-input { 
    width: 100%; 
    font-size: 19px; 
    color: #555; 
} 

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
} 

.slider-container { 
    width: 100%; 
} 

.slider-container { 
    height: 6px; 
    position: relative; 
    background: #e4e4e4; 
    border-radius: 5px; 
} 

.slider-container .price-slider { 
    height: 100%; 
    left: 25%; 
    right: 15%; 
    position: absolute; 
    border-radius: 5px; 
    background: #FF4B2B; 
} 

.range-input { 
    position: relative; 
} 

.range-input input { 
    position: absolute; 
    width: 100%; 
    height: 5px; 
    background: none; 
    top: -5px; 
    pointer-events: none; 
    cursor: pointer; 
    -webkit-appearance: none; 
} 

input[type="range"]::-webkit-slider-thumb { 
    height: 18px; 
    width: 18px; 
    border-radius: 70%; 
    background: #555; 
    pointer-events: auto; 
    -webkit-appearance: none; 
} 

@media screen and (max-width: 768px) { 
    .main { 
        width: 80%; 
        margin-right: 5px; 
    } 

    .custom-wrapper { 
        width: 100%; 
        left: 0; 
        padding: 0 10px; 
    } 

    .projtitle { 
        width: 100%; 
        position: relative; 
        right: 26px; 
    } 

    .price-input { 
        flex-direction: column; 
        align-items: center; 
    } 

    .price-field { 
        margin-bottom: 10px; 
    } 
}

.content {
    position: fixed;
    top: 0;
    left: -320px;
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    transition: left 0.3s ease;
    z-index: 10;
}

.open {
    left: 0; /* Slide the navigation into view */
}

#openNav {
    position: absolute;
    left: 10px;
    border: none;
    background: none;
    z-index: 2; /* Ensure it's above the navigation */
}

#openNav:hover {
    cursor:pointer;
}

#closeNav {
    position: absolute;
    color: red;
    top: 0px;
    left: 75%;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 11;
}

#closeNav:hover {
    color: #ff816a;
}

.content select, 
.content input[type="date"] {
    width: calc(100% - 8px);
    padding: 3px;
    margin-bottom: 4px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 11px;
}

.content button {
    background-color: #FF4B2B;
    width: 100px;
    height: 30px;
    position: relative;
    left: 30%;
    color: #fff;
    border: none;
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 11px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.content button:hover {
    background-color: #ff816a;
}

.car-table {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.car-table table {
    width: 85%;
    border-collapse: collapse;
    background-color: #fff;
}

.car-table td {
    padding: 10px;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.car-cell {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.car-cell img {
    display: block;
    width: 504px;
    height: 344px;
    transition: transform 0.3s;
}

.car-cell img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.car-cell span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 12px;
}

th, td {
    padding: 3px;
    border: none;
    text-align: center;
}

th {
    background-color: #ff816a;
    color: white;
    font-size: smaller;
}

footer {
    background-color: #ff4b2b;
    color: white;
    text-align: center;
    padding: 10px;
}




